<h2>About Me</h2>
<p>AHHHHHHHHHHHHHH</p>

<h2>Characteroosticks</h2>
<ul>
  <li>Hardworking(ohlol)</li>
  <li>Prodooktuve(notattall)</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a> (ohyes that sounds just like me)</li>
</ul>

<p>For more information... (email me at ohyoudontgetmyemail@weweeeeewewewemail.com)</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://userdkko.github.io/">GitHub Repository(itsatrap)</a>
  </li>
</ul>
