<h2>About Me</h2>
<p>IM SO COOL AHHHHHHHHHHHH. _notreally_</p>

<h2>Characteroosticks</h2>
<ul>
  <li>Hardworking _ahhhhhhhatthispointimlike_</li>
  <li>Prodooktuve _nah_</li>
  <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a> _ohyes that sounds just like me_</li>
</ul>

<p>For more information... _ohlol you don't get any_</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://userdkko.github.io/">GitHub Repository _lolno_</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://userdkko.github.io/">The Author _ohlolthatsme_</a>
  </li>
</ul>
